---
layout: default
title: Blog
permalink: /blog/
---

<section class="blog-page">
    <h2>Tous les articles</h2>
    
    {% if site.posts.size > 0 %}
        {% for post in site.posts %}
        <article class="post-preview">
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            <div class="post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %B %Y" }}</time>
                {% if post.author %} • <span>{{ post.author }}</span>{% endif %}
            </div>
            <div class="post-excerpt">
                {{ post.excerpt }}
            </div>
            <a href="{{ post.url | relative_url }}" class="read-more">Lire la suite &rarr;</a>
        </article>
        {% endfor %}
    {% else %}
        <p>Aucun article pour le moment. Revenez bientôt!</p>
    {% endif %}
</section>
