---
---

@import "minima";

/*
@media screen and (max-width: 900px) {
  .site-nav {
    position: absolute;
    right: 90px;
  }
}
*/

.wrapper {
    max-width: -webkit-calc(80% - (30px * 2));
    max-width: calc(80% - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}